:root,
#sidebar:host {
	--sidebar-width: 420px;
	--footer-height: 28px;

	--input-header: #a9dbfa;
	--input-text: #c5947c;
	--output-header: #74975d;
	--output-text: #74975d;
	--banner-bg: #bc8abd;
	--banner-text: #010000;
	--button-hover: #313232;
	--footer-hover: #4b89cd;
	--footer-bg: #317ac6;
	--bg: #1e1e1e;
}

body.sidebar-show,
body.sidebar-show * {
	max-width: calc(100vw - var(--sidebar-width));
}

#sidebar {
	position: fixed;
	z-index: 240;
	top: 0px;
	right: 0px;
}
