:root {
	--input-header: "#8DFAFE";
	--input-text: "#EE766D";
	--output-header: "#010000";
	--output-text: "#8DF57A";
	--banner-bg: "#C7C7C7";
	--banner-text: "#000000";
	--bg: "#8DFAFE";
}

#sidebar {
	position: absolute;

	background-color: #323232;
	width: var(--sidebar-width);
	height: 100vh;
	overflow-y: scroll;

	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	padding: 64px 0;

	transition: all 0.5s ease;
}

#sidebar.open {
	left: calc(var(--sidebar-width) * -1);
}

#sidebar.closed {
	left: 0px;
}

#sidebar p {
	padding: 0 24px;
	text-align: center;
	font-size: 14px;
	font-family: "jetbrains";
	text-align: left;
}

.header-container {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: var(--banner-bg);
	height: 50px;
	cursor: pointer;
}
