#sidebar {
	position: absolute;

	background-color: #323232;
	width: var(--sidebar-width);
	height: 100vh;
	overflow-y: scroll;

	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	padding: 64px 0;

	transition: all 0.5s ease;
}

#sidebar.open {
	left: calc(var(--sidebar-width) * -1);
}

#sidebar.closed {
	left: 0px;
}

#sidebar p {
	padding: 0 24px;
	text-align: center;
	font-size: 14px;
	font-family: sans-serif;
	text-align: left;
}

.sidebar-toggle {
	position: fixed;
	right: 4.7px;
	bottom: 47px;
}
